<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hd">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 文件写入SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.hd.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.hd.org.howe.keyboardpanelswitcher.MainKeyBoardActivity">

        </activity>

        <activity android:name="com.hd.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.event.TestEventActvity">
        </activity>

        <activity android:name=".Main2Activity">
        </activity>


        <service
            android:name=".test.mutitask.AidlService"
            android:process=":test">
        </service>
        <activity android:name=".test.mutitask.AidlMainActivity">
        </activity>
        <activity android:name=".test.aidl.AidlMain2Activity">
        </activity>

        <service android:name=".test.aidl.MyService"
            android:process=":test2"
            ></service>

        <activity
            android:name=".test.noname.MainViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.noname.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>
        <activity android:name=".test.noname.MainTabActivity">


        </activity>


    </application>

</manifest>